.table {
  margin: 20px;
  height: 400px;
  overflow: scroll;
}

.table::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid #ddd;
}

h3 {
  font-size: 1.2rem;
  color: #888;
  font-weight: 500;
  margin: 0;
  padding: 20px 0 15px 15px;
}

td {
  padding: 5px;
}
